@use "@minvws/manon/components/notification";

/* This file uses mixins from Manon (https://github.com/minvws/nl-rdo-manon) */

.admonition {
  @include notification.notification;

  .admonition-title {
    //font-weight: var(--notification-span-font-weight);
  }

  &.informative,
  &.hint,
  &.tip,
  &.note,
  &.seealso {
    @include notification.notification;

    .admonition-title {
      //font-weight: var(--notification-span-font-weight);
    }
  }

  &.caution,
  &.important,
  &.attention,
  &.danger {
    @include notification.notification;

    .admonition-title {
      //font-weight: var(--notification-span-font-weight);
    }
  }
}
