.div-main-content:has(.breadcrumb-bar) {
  padding-top: 0;

  .breadcrumb-bar {
    margin-left: -1.5rem; /* margin-left on main content */

    li:first-child a {
      text-decoration: none;
    }
  }
}
