.meta {
  padding-top: 0.5rem;

  a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0;

    &::before {
      content: none;
    }

    &:active,
    &:visited,
    &:hover,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
