div.admonition,
.admonition {
  .admonition-title {
    font-weight: var(--notification-span-font-weight);
    min-width: 100%;
    box-sizing: border-box;
    padding-left: 2.5rem;

    &::before {
      /* Content*/
      content: "";
      background-image: url("../img/notification_icons.svg");
      background-size: 100%;

      /* Font */
      font-weight: var(--notification-block-element-span-font-weight);

      /* Alignment */
      display: inline-flex;
      text-align: center;
      margin-left: -2.5rem;
      margin-right: 0.5rem;
      position: relative;
      top: 0.4rem;

      /* Size */
      width: 1.5rem;
      min-width: 1.5rem;
      height: 1.5rem;
      min-height: 1.5rem;
    }
  }

  &.explanation,
  &.informative,
  &.hint,
  &.tip,
  &.seealso,
  &.note {
    .admonition-title::before {
      background-position: 0 4.5rem;
    }
  }

  &.error {
    .admonition-title::before {
      background-position: 0 3rem;
    }
  }

  &.confirmation {
    .admonition-title::before {
      background-position: 0 1.5rem;
    }
  }
}
