header nav .search {
  --form-inline-gap: 0;
  margin: 0.5rem 0;

  input {
    border: 0;
  }

  button {
    --header-navigation-button-icon-only-text-color: white;

    /* Hover */
    --header-navigation-button-icon-only-hover-background-color: var(
      --brand-dimmed-background-color
    );

    /* Active */
    --header-navigation-button-active-font-size: 0;

    &:focus {
      font-size: 0;
    }
  }
}
