@use "@minvws/manon-themes/rijkshuisstijl-2008" with (
  $font-path: "/_static/fonts",
  $icons-path: "/_static/img/icons"
);

@use "@minvws/manon/components/bundles/all";

@use "admonition";
@use "header-link";
@use "highlight";
@use "pagination";
@use "pre";
@use "print";

main.sidemenu article > section {
  padding: 1.75rem;
}

.related {
  .previous .icon {
    margin-right: 0.5rem;
  }

  .next .icon {
    margin-left: 0.5rem;
  }
}
