/* Main styling document - index.scss */
// @use "@minvws/nl-rdo-rijksoverheid-ui-theme/scss/manon";

@use "manon";
@use "admonition";
@use "notification-icons";

@use "@minvws/nl-rdo-rijksoverheid-ui-theme" with (
  $font-path: "/_static/fonts",
  $img-path: "/_static/img",
  $brand-color: "dark-blue"
);

@use "@minvws/nl-rdo-rijksoverheid-ui-theme/components";
@use "align-end";
@use "blockquote";
@use "footer";
@use "header-link";
@use "header";
@use "main";
@use "meta";
@use "pagination";
@use "pre";
@use "print";
@use "search";
@use "sidemenu";
@use "breadcrumb-bar";
